<div class="layui-layout layui-layout-admin" ng-controller="MainController">
  <div class="layui-header">
    <h1 class="layui-title">精准扶贫第三方评估大数据平台</h1>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <!-- <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul> -->

    <ul class="nav-menu layui-hide-xs">
      <li class="nav-frame">
      	<i class="layui-icon layui-icon-home"></i>
        <a ui-sref="index.measurement">主页</a>
      </li>
      <li class="nav-frame">
      	<i class="layui-icon layui-icon-password"></i>
      	<a ng-click="alterPwd()">修改密码</a>
      </li>
      <li class="nav-frame">
      	<i class="layui-icon layui-icon-refresh-3"></i>
      	<a ng-click="cancel()">退出系统</a>
      </li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a ui-sref="index.measurement">测评概述</a>
          <!-- <dl class="layui-nav-child">
            <dd><a href="javascript:;" ui-sref="index.dashboardv1">列表一</a></dd>
            <dd><a href="javascript:;" ui-sref="index.dashboardv1">列表二</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl> -->
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;" ui-sref="index.questions">问卷模板</a>
          <!-- <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl> -->
        </li>
        <li class="layui-nav-item"><a href="javascript:;" ui-sref="index.project">项目管理</a></li>
        <li class="layui-nav-item"><a href="javascript:;" ui-sref="index.judge">评测队员</a></li>
        <li class="layui-nav-item"><a href="javascript:;" ui-sref="index.questionnaire">问卷查询</a></li>
        <li class="layui-nav-item"><a href="javascript:;" ui-sref="index.users">用户管理</a></li>
        <li class="layui-nav-item"><a href="javascript:;" ui-sref="index.dictionary">字典管理</a></li>
        <li class="layui-nav-item"><a href="javascript:;" ui-sref="index.area">行政区划</a></li>
        <li class="layui-nav-item"><a href="javascript:;" ui-sref="index.analysis">数据分析</a></li>
        <li class="layui-nav-item"><a href="javascript:;" ui-sref="index.attendence">出勤记录</a></li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body" ui-view>
    <!-- 内容主体区域 -->
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 476710564@qq.com - 底部固定区域
  </div>
</div>

<div id="alter">
  <form class="layui-form" name="alterForm" novalidate>
    <div class="layui-form-item">
      <label class="layui-form-label">原密码：</label>
      <div class="layui-input-block">
        <input type="password" name="orgin" required placeholder="请输入原密码" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">新密码：</label>
      <div class="layui-input-block">
        <input type="password" name="password" required placeholder="请输入新密码" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">确认密码：</label>
      <div class="layui-input-block">
        <input type="password" name="password" required placeholder="请再次输入新密码" autocomplete="off" class="layui-input">
      </div>
    </div>
  </form>
  <div class="alter-btn">
      <button class="layui-btn" lay-submit lay-filter="formDemo"><i class="layui-icon layui-icon-set-fill"></i>保存</button>
    </div>
</div>