<div class="questions-wrap" ng-controller="QuesController">
    <div class="form-title">
        <span>问卷模板管理</span>
        <div class="btn-group">
            <a class="layui-btn layui-btn-warm" data-type="detail"><i class="layui-icon layui-icon-vercode"></i>预览</a>
            <a class="custom-btn" ng-click="export()" id="export"><i class="layui-icon layui-icon-delete"></i>导出问卷记录</a>
            <a class="layui-btn layui-btn-warm" data-type="copy"><i class="layui-icon layui-icon-templeate-1"></i>复制模板</a>
            <a class="layui-btn layui-btn-normal" data-type="add"><i class="layui-icon layui-icon-add-circle"></i>添加</a>
            <a class="layui-btn layui-btn-normal" data-type="alter"><i class="layui-icon layui-icon-edit"></i>修改</a>
            <a class="layui-btn layui-btn-danger" data-type="del" lay-filter="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </div>
    </div>
    <div class="input-item">
        <label>
            <span class="template-text">模板名称：</span>
            <input type="text" placeholder="请输入模板名称" class="template" id="tempName">
        </label>
        <label>
            <span class="template-text">目录：</span>
            <input type="text" placeholder="请输入目录" class="template" id="directory">
        </label>
        <div class="layui-btn layui-btn-normal" ng-click="search()"><i class="layui-icon layui-icon-search"></i>查询</div>
    </div>
    <table class="layui-table" id="ques" lay-filter="demo"></table>
    <table class="layui-table" id="quesAll" >
        <colgroup>
            <col width="10%">
            <col width="20%">
            <col width="40%">
            <col width="25%">
        </colgroup>
        <thead>
            <tr>
                <th>序号</th>
                <th>目录</th>
                <th>模板名称</th>
                <th>备注</th>
                <th>详情</th>
            </tr>
        </thead>
       <tbody>
            <tr ng-repeat="result in results">
                <td>{{result.id}}</td>
                <td>{{result.directory}}</td>
                <td>{{result.templateName}}</td>
                <td>{{result.note}}</td>
                <td><button class="layui-btn layui-btn-warm"><i class="layui-icon layui-icon-search"></i>详情</button></td>
            </tr>
        </tbody>
    </table>
    <div id="details">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>标题</legend>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入问卷标题" class="layui-input">
            </div>
        </fieldset>

        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">单行输入框</label>
                <div class="layui-input-block">
                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">验证必填项</label>
                <div class="layui-input-block">
                    <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">验证手机</label>
                    <div class="layui-input-inline">
                        <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">验证邮箱</label>
                    <div class="layui-input-inline">
                        <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">多规则验证</label>
                    <div class="layui-input-inline">
                        <input type="text" name="number" lay-verify="required|number" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">验证日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">验证链接</label>
                    <div class="layui-input-inline">
                        <input type="tel" name="url" lay-verify="url" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">验证身份证</label>
                <div class="layui-input-block">
                    <input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">自定义验证</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">范围</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="price_max" placeholder="￥" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">单行选择框</label>
                <div class="layui-input-block">
                    <select name="interest" lay-filter="aihao">
                        <option value=""></option>
                        <option value="0">写作</option>
                        <option value="1" selected="">阅读</option>
                        <option value="2">游戏</option>
                        <option value="3">音乐</option>
                        <option value="4">旅行</option>
                    </select>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">分组选择框</label>
                    <div class="layui-input-inline">
                        <select name="quiz">
                            <option value="">请选择问题</option>
                            <optgroup label="城市记忆">
                                <option value="你工作的第一个城市">你工作的第一个城市</option>
                            </optgroup>
                            <optgroup label="学生时代">
                                <option value="你的工号">你的工号</option>
                                <option value="你最喜欢的老师">你最喜欢的老师</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">搜索选择框</label>
                    <div class="layui-input-inline">
                        <select name="modules" lay-verify="required" lay-search="">
                            <option value="">直接选择或搜索选择</option>
                            <option value="1">layer</option>
                            <option value="2">form</option>
                            <option value="3">layim</option>
                            <option value="4">element</option>
                            <option value="5">laytpl</option>
                            <option value="6">upload</option>
                            <option value="7">laydate</option>
                            <option value="8">laypage</option>
                            <option value="9">flow</option>
                            <option value="10">util</option>
                            <option value="11">code</option>
                            <option value="12">tree</option>
                            <option value="13">layedit</option>
                            <option value="14">nav</option>
                            <option value="15">tab</option>
                            <option value="16">table</option>
                            <option value="17">select</option>
                            <option value="18">checkbox</option>
                            <option value="19">switch</option>
                            <option value="20">radio</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/html" id="func-btn">
        <button class="custom-btn" type="button" ng-click="select()" lay-event="detail"><i class="layui-icon layui-icon-search"></i>详情</button>
    </script>
</div>
